/*
Styles for the block editor
*/

/* Main column width */
.wp-block {
	max-width: 670px;
}

/* --- Fonts --- */
.edit-post-visual-editor,
.components-autocomplete,
.editor-post-title__block .editor-post-title__input,
.editor-default-block-appender textarea.editor-default-block-appender__content {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/* --- Title --- */
.editor-post-title__block .editor-post-title__input {
	font-size: 26px;
	color: #282828;
	font-weight: normal;
}

/* --- Headlines --- */
.edit-post-visual-editor h1,
.edit-post-visual-editor h2,
.edit-post-visual-editor h3,
.edit-post-visual-editor h4,
.edit-post-visual-editor h5,
.edit-post-visual-editor h6 {
	color: #282828;
	font-weight: normal;
}
.wp-block-heading h1 {
	font-size: 26px;
}
.wp-block-heading h2 {
	font-size: 21px;
	line-height: 1.4;
}
.wp-block-heading h3 {
	font-size: 20px;
	line-height: 1.45;
}
.wp-block-heading h4 {
	font-size: 18px;
	line-height: 1.5;
}
.wp-block-heading h5 {
	font-size: 16px;
	color: #555;
	line-height: 1.6;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.wp-block-heading h6 {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: bold;
	font-style: italic;
}

/* --- Text Elements --- */
.editor-styles-wrapper .editor-block-list__layout p,
.editor-block-list__layout .editor-block-list__block {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.8;
	color: #555;
}

.editor-default-block-appender textarea.editor-default-block-appender__content {
	font-size: 16px;
	line-height: 1.8;
}

.editor-styles-wrapper .editor-block-list__layout p.has-drop-cap::first-letter {
	font-size: 4em !important;
	line-height: .8 !important;
}

.editor-styles-wrapper .editor-block-list__layout p.wp-block-paragraph.has-large-font-size {
		line-height: 1.55;
}

/* --- Links --- */
.edit-post-visual-editor a,
.edit-post-visual-editor a em,
.edit-post-visual-editor a strong {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}

.edit-post-visual-editor a:hover {
	color: #000;
	border-bottom: 1px solid #444;
}

/* Blockquotes */
.wp-block-quote {
	margin-bottom: 26px;
}
.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
		color: #555;
		font-size: 16px;
		font-style: italic;
		margin-top: 0;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left: 1px solid #ededee;
		padding-left: 50px;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	border: none;
	padding-left: 50px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 23px;
	line-height: 1.45;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large footer {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-align: left;
	margin-top: 0;
}

.wp-block-quote cite:before,
.wp-block-quote__citation:before {
	content: '\2013';
	display: inline;
	padding: 0 2px 0 0;
	-webkit-font-smoothing: antialiased;
}

/* Pullquotes */
.wp-block-pullquote {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	text-align: center;
	border: none;
	font-size: 17px;
	font-weight: bold;
	line-height: 1.55;
	color: #000;
}

.wp-block-pullquote p {
	margin-bottom: 26px;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 23px;
	line-height: 1.45;
}

.wp-block-pullquote blockquote>.block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]:before,
.wp-block-pullquote blockquote>.editor-rich-text p {
	font-size: 23px;
	line-height: 1.45;
	color: #555;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: #555;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
	text-transform: none;
	text-align: center;
	font-weight: normal;
}

.wp-block-pullquote.alignleft blockquote {
	margin: 0 40px 0 -40px;
	text-align: left;
}

.editor-block-list__layout .editor-block-list__block[data-align=left] .wp-block-pullquote,
.editor-block-list__layout .editor-block-list__block[data-align=left] .wp-block-pullquote .wp-block-pullquote__citation {
	text-align: left !important;
	max-width: 320px;
}

.editor-block-list__layout .editor-block-list__block[data-align=right] .wp-block-pullquote,
.editor-block-list__layout .editor-block-list__block[data-align=right] .wp-block-pullquote .wp-block-pullquote__citation {
	text-align: right !important;
	max-width: 320px;
}

.wp-block-pullquote blockquote {
	margin-left: 0;
}

.wp-block-pullquote.alignright blockquote {
	margin: 0 -40px 0 40px;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignleft cite {
	text-align: left;
}

.wp-block-pullquote.alignright,
.wp-block-pullquote.alignright cite {
	text-align: right;
}

/* Separator */
.wp-block-separator {
		border-bottom: 1px solid #000;
}

/* --- Preformatted --- */
.wp-block-code, .wp-block-preformatted pre {
	background: #ededed;
	padding: 30px;
	font-size: 14px;
	overflow: auto;
	background: #F5F5F5;
	font-family: Courier, Monaco, monospace;
	font-size: 14px;
	line-height: 1.4;
}

/* --- HTML --- */
.wp-block-html .editor-plain-text {
	color: #555;
	font-size: 13px;
}

/* --- Table --- */
.wp-block-table,
.wp-block-table .components-autocomplete {
	font-size: 15px;
	line-height: 2;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
		background-color: #ededed;
}

/* --- Lists --- */
.edit-post-visual-editor .editor-block-list__block ul,
.edit-post-visual-editor .editor-block-list__block ol {
	padding-left: 0;
	list-style-position: inside;
}

.edit-post-visual-editor .editor-block-list__block ul ul,
.edit-post-visual-editor .editor-block-list__block ol ol {
	margin: 0;
	padding-left: 26px;
}
.edit-post-visual-editor ul {
	list-style: square;
}
.edit-post-visual-editor ol {
	list-style: decimal;
}
.edit-post-visual-editor ul ul,
.edit-post-visual-editor ol ol,
.edit-post-visual-editor ul ul,
.edit-post-visual-editor ol ol {
	padding-left: 50px;
}
.edit-post-visual-editor li > ul,
.edit-post-visual-editor li > ol {
	margin-bottom: 0;
	margin-left: 0;
}
.edit-post-visual-editor ul li,
.edit-post-visual-editor ol li,
.edit-post-visual-editor ul li,
.edit-post-visual-editor ul li  {
	margin-bottom: 4px;
	list-style-position: outside;
}

/* --- Buttons  --- */
.wp-block-button .wp-block-button__link {
	border: none;
	border-radius: 4px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	margin: 0;
	padding: 10px 18px;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.8;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	border-width: 1px;
}

/* --- Image, Gallery, Cover Image --- */
.wp-block-image figcaption,
.wp-block-embed figcaption {
	color: #000;
}

.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-embed figcaption {
	font-size: 13px;
	line-height: 1.4;
}

.wp-block-cover {
	padding-top: 26px;
	margin-bottom: 52px;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text {
	font-size: 1.5em;
	margin-bottom: 0 !important;
}

@media screen and (min-width: 767px) {
	.wp-block-cover-image .wp-block-cover-image-text,
	.wp-block-cover-image .wp-block-cover-text,
	.wp-block-cover .wp-block-cover-image-text,
	.wp-block-cover .wp-block-cover-text {
		font-size: 2em;
		margin-bottom: 0 !important;
	}
}
